
@{
    Layout = null;
}
@using DataModel
@model List<Student>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>编号</td>
                <td>姓名</td>
                <td>年龄</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SId</td>
                    <td>@item.SName</td>
                    <td>@item.SAge</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
